body,html,body>div{
	padding:0;
	margin: 0;
	width:100%;
	height:100%;
	min-width:150px;
}

.bg{
	background: url(../img/bg.png) bottom center no-repeat;
    background-size: cover;
    height: 52%;
    z-index: 2;
}
.img{
	position: absolute;
    background: url(../img/image.png) center center no-repeat;
    background-size: contain;
    height: 58%;
    z-index: 3;
    left: 40%;
    top: 77px;
    width: 72%;
}
.topfield{
	margin-top: 5px;
}
.black{
	color:black;
	text-align: center;
}
.content button{
	float: left;
	margin-bottom: 20px;
}
.content li,.content h2,.content p{
	text-align: start;
}
.lead{
	margin-bottom: 40px;
}
.content h2{
	color:#3498db;
}
.content{
	text-align: center;
}
.divider{
	margin:34px 0;
}
.breadcrumb a{
	color:black;
	text-decoration: underline;
}
.breadcrumb{
	width: 100%;
    text-align: center;
	position: absolute;
	white-space: nowrap;
    font-size: 1.2vmax;
    font-size: 2vmin;
    background: white;
}
.toptext{
	margin-top: 4%;
}
.toptext span{
	color:#00ff86;
	font-size: 1.4em;
}
.toptext p{
	color:white;
	font-size:0.8em;
}
.bottom-menu h4{
	color:white;
	text-align: center;
}
.bottom-menu select{
	padding-left: 25px;
}
.submitbtn{
	color:white;
	background: #7cc400;
	width:90%;
}
.submitbtn, .submitbtn+label{
	font-size: 1.2vmax;
    font-size: 2vmin;
}

.bottom-menu form, .bottom-menu option{
	margin-top:10px;
	color:#959595;
	margin-top:2%;
}
.bottom-menu{
	background: #545454;
	box-shadow: 0 0 27px 10px;
    margin-top: -21px;
    padding-bottom: 15px;
}
.logo{
    margin: 50px 0 10px 0;
}



.fa.form-control-feedback {
    line-height: 34px; /* @input-height-base; */
}
.input-sm ~ .fa.form-control-feedback {
    line-height: 30px; /* @input-height-base; */
}
.input-lg ~ .fa.form-control-feedback {
    line-height: 46px; /* @input-height-base; */
}

.has-feedback-left input.form-control {
    padding-left: 34px; /* @input-height-base; */
    padding-right: 12px; /* @padding-base-horizontal */
}

.has-feedback-left .form-control-feedback {
    left: 0; 
}
.form-horizontal .has-feedback-left .form-control-feedback {
    left: 12px; /* @grid-gutter-width / 2 */
}

.has-feedback-left input.input-sm {
  padding-left: 30px;  @input-height-small;
}
.has-feedback-left input.input-lg {
  padding-left: 46px;  @input-height-large;
}

